.pop-items{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 10px;
}
.popular h1{
    text-align: center;
    color: #171717;
    font-size: 30px;
    font-weight: 600;
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
